.body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #46424D;
  margin: 0px;
  height: 10%;
}

.page-title {
  display: flex;
  align-items: center;
  color: #FFF;
  margin: 0px;
  height: 100%;
  font-weight: 300;
  font-size: 24px;
}

.main-container {
  height: 90%;
  width: 100%;
  background-color: #2B2733;
  display: inline-flex;
}

.main-left {
  width: 66%;
  height: 100%;
  border-right: 4px solid #46424D;
}

.activity-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 85%;
  background-color: #46424D;
  border-radius: 5px;
  margin-left: 3.5%;
}

.activity-header {
  color: #CBC9CF;
  margin-left: 3.5%;
  font-size: 24px;
}

.activity-container {
  height: 85%;
  width: 75%;
}

.category-header {
  color: #FFF;
}

.activity-box-container {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border: 2px solid #FFF;
  border-radius: 4px;
}

.active-study-box {
  border: 2px solid #B3FD78;
  color: #B3FD78;
}

.active-meditate-box {
  border: 2px solid #C278FD;
}

.active-exercise-box {
  border: 2px solid #FD8078;
}

.study-icon {
  color: #B3FD78;
}

.icon {
  height: 30px;
  width: 30px;
}

.box-title {
  color: #FFF;
  margin: 4px;
  font-weight: 400;
  font-size: 18px;
}

.task-header {
  color: #FFF;
  margin-top: 11%;
}

.task-answer {
  width: 100%;
  height: 5.5%;
  font-size: 32px;
  padding-bottom: 4px;
  color: #FFF;
  background-color: #46424D;
  border: 0px;
  border-bottom: 2px solid #CBC9CF;
}

.time-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%;
}

.minutes-title {
  color: #FFF;
  margin: 5px;
}

.seconds-title {
  color: #FFF;
  margin: 5px;
}

.minutes-input {
  width: 100%;
  background-color: #46424D;
  border: 0px;
  border-bottom: 2px solid #CBC9CF;
  font-size: 32px;
  color: #FFF;
}

.seconds-input {
  width: 100%;
  background-color: #46424D;
  border: 0px;
  border-bottom: 2px solid #CBC9CF;
  font-size: 32px;
  color: #FFF;
}

.min-sec-container {
  width: 40%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
  height: 8%;
  margin-top: 6.5%;
}

.start-button {
  height: 100%;
  width: 30%;
  border-radius: 5px;
  font-size: 18px;
  color: #46424D;
}

.main-right {
  width: 33%;
  height: 100%;
  overflow: scroll;
}

.past-activity-header {
  color: #CBC9CF;
  margin-left: 6%;
  font-size: 24px;
}

.past-activities {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.activity-card {
  height: 15%;
  width: 90%;
  background-color: #46424D;
  border-radius: 5px;
  margin-left: 2%;
  margin-bottom: 5%;
}

.type-time-container {
  width: 95%;
  height: 30%;
  border-right: 5px solid #B3FD78;
  color: #FFF;
  }

.activity-card-header {
  font-weight: 600;
  margin-left: 5%;
  margin-bottom: 0px;
  margin-top: 15px;
}

.activity-card-time {
  font-weight: 300;
  margin-left: 5%;
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.activity-card-task {
  font-size: 14px;
  color: #CBC9CF;
  margin-left: 5%;
  margin-top: 10px;
}
